
$primary-dark: #D32F2F;
$primary: #F44336;
$primary-light: #FFCDD2;

$accent: #4CAF50;

$text: #ffffff;
$primary-text: #4CAF50;
$secondary-text: #727272;

$border: #B6B6B6;

body{
	font-family: 'Roboto', sans-serif !important;
	background-color: $primary-dark;
	color: $text;
	& *{
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
}

.bar.bar-stable{
	background-image: none;
	background: none;
	
	

	border: 0;

	.title{
		color: $text;
		font-size: 36px;
		text-align: center;
		margin: 36px 0;
		
	}
}
.pane, .view{
	background-color: $primary-dark;
}
form{
	min-width: 320px;
	max-width: 100%;
	display: block;
	margin: 80px auto 0 auto;

	input[type="text"], input[type="number"], select, select option, input{

		height: 52px;
		width: 100%;
		padding: 0;
		margin: 0;
		font-size: 36px;
		border-color: transparent;
		background: transparent;
		color: $border;
		border-bottom: 1px solid $primary;
		text-align: center;

		&:focus{
			border-bottom: 1px solid $text;
			color: $text;
		}


	}
	select, select option{
		text-indent: 20%;
	}
	select{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.result{
		height: 52px;
		width: 100%;
		font-size: 36px;
		padding: 20px;
  		text-align: center;
	}
	.input-field, .result{
		margin: 20px 0;
	}

}